Ejercicio1/libreria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libros">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="libro" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="anio" type="xs:gYear"/>
                                        <xs:element name="autores">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="autor" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="nombre" type="xs:string"/>
                                                                <xs:element name="orcid" type="orcid_rest" minOccurs="0">
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="etiquetas" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="etiqueta" type="xs:string" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"/>
                                    <xs:attribute name="categoria" type="categoria_libros" use="required"/>
                                    <xs:attribute name="isbn" type="isbn13_rest" use="required"/>
                                    <xs:attribute name="paginas" type="xs:integer" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="revistas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="revista" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="anio" type="xs:gYear"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"/>
                                    <xs:attribute name="area" type="area_revistas" use="required"/>
                                    <xs:attribute name="issn" type="issn_rest" use="required"/>
                                    <xs:attribute name="numero" type="xs:integer" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="usuarios">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="usuario" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="email" type="email_rest"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"/>
                                    <xs:attribute name="tipo" type="enum_usuario" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="prestamos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="prestamo" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="fecha_inicio" type="xs:date"/>
                                        <xs:element name="fecha_fin" type="xs:date" minOccurs="0"/>
                                        <xs:element name="estado" type="estado_prestamo"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"/>
                                    <xs:attribute name="itemRef" type="xs:IDREF" use="required"/>
                                    <xs:attribute name="usuarioRef" type="xs:IDREF" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
            <xs:attribute name="fecha" type="xs:date" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Restricciones -->
    <xs:simpleType name="orcid_rest">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"/> <!-- Para orcid, son 4 bloques de 4 numeros separados por - -->
        </xs:restriction>
    </xs:simpleType>
    

     
    <xs:simpleType name="email_rest">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/> <!-- Para email valido, primer bloque acepta letras, numeros y ._- , +@, segundo bloque acepta letras, numeros . y - , seguido de un . y termina con minimo 2 letras-->
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="isbn13_rest">
        <xs:restriction base="xs:string">
            <xs:pattern value="97(8|9)[- ]?\d{1,5}[- ]?\d{1,7}[- ]?\d{1,7}[- ]?\d"/> <!--Debe empezar por 97 seguido de un 8 o 9, el siguiente puede ser un - o un espacio, o nada,  le sigue un digito del 1 al 9 y en cada bloque el min y maximo que puede aparecer, y al final otro digito-->
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="issn_rest">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-\d{3}[\dXx]"/><!--1 digito 4 veces, - , 3 digitos más, y que termine con un caracter que puede ser numero o x X -->
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="enum_usuario">
        <xs:restriction base="xs:string">
            <xs:enumeration value="alumno"/>
            <xs:enumeration value="profesor"/> <!-- Enumeración de usuario:tipo-->
        </xs:restriction>
    </xs:simpleType>
    

    <xs:simpleType name="categoria_libros">
        <xs:restriction base="xs:string">
            <xs:enumeration value="novela"/> <!-- Enumeración de libros:categoria-->
            <xs:enumeration value="tecnico"/>
            <xs:enumeration value="fantasia"/>
            <xs:enumeration value="romance"/>
            <xs:enumeration value="terror"/>
            <xs:enumeration value="infantil"/>
            <xs:enumeration value="deporte"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="area_revistas">
        <xs:restriction base="xs:string">
            <xs:enumeration value="computacion"/> <!-- Enumeración de revistas:area-->
            <xs:enumeration value="ingenieria"/>
            <xs:enumeration value="matematicas"/>
            <xs:enumeration value="quimica"/>
            <xs:enumeration value="fisica"/>
            <xs:enumeration value="derecho"/>
            <xs:enumeration value="filosofia"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="estado_prestamo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="en_curso"/> <!-- Enumeración de prestamo:estado-->
            <xs:enumeration value="devuelto"/>
            <xs:enumeration value="retraso"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
